# Maven output
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Logs and Temporary Files
log/
logs/
*.log
*.log.*
*.tmp

# Generated directories
hartshorn-assembly/distributions