# Generic build outputs
build
subject
# Project specifics
.gradle/
.idea/
*.iml
*.hprof
dependency-reduced-pom.xml
# Generated directories
servers
hartshorn-assembly/distributions
# Test resources
module/src/test/resources/storage.db-journal
*/.mixin.out
*/testRuns
*/logs
hartshorn-sponge-8/run
