#
# Template Antora playbook configuration for local documentation pre-viewing.
#
# This playbook is not intended for use in production, but rather for local development
# and testing of the documentation. You can generate a static site from this playbook by
# running `antora antora-playbook.local.yml`. The generated site will be placed in the
# `hartshorn-assembly/target/docs` directory.
#
site:
  title: Hartshorn Framework
  start_page: launchpad::index.adoc

content:
  sources:
    - url: .
      branches: HEAD
      # Effectively null, no versioning on non-released documentation
      version: ~
      start_paths:
        - hartshorn-inject/src/main/docs
        - hartshorn-inject-configurations/src/main/docs
        - hartshorn-launchpad/src/main/docs
        - hartshorn-util/src/main/docs
        - hartshorn-spi/src/main/docs
        - hartshorn-proxy/src/main/docs
        - hartshorn-proxy-javassist/src/main/docs
        - hartshorn-introspect/src/main/docs
        - hartshorn-introspect-reflection/src/main/docs
        - hartshorn-reporting/src/main/docs
        - hartshorn-hsl/src/main/docs
        - hartshorn-i18n/src/main/docs
        - hartshorn-config/src/main/docs
        - hartshorn-config-jackson/src/main/docs
        - hartshorn-commands/src/main/docs

output:
  dir: hartshorn-assembly/target/docs
  clean: true

asciidoc:
  extensions:
    - '@asciidoctor/tabs'
    - 'asciidoctor-interdoc-reftext'

antora:
  extensions:
    - '@antora/lunr-extension'

ui:
  bundle:
    url: https://github.com/Dockbox-OSS/Antora-Dockbox-UI/releases/download/R1-may-05-2024/ui-bundle.zip
    snapshot: true
  supplemental_files:
    - path: css/vendor/tabs.css
      contents: './hartshorn-assembly/antora/tabs/tabs.css'
    - path: js/vendor/tabs.js
      contents: './hartshorn-assembly/antora/tabs/tabs.js'
    - path: partials/footer-scripts.hbs
      contents: |
        <script id="site-script" src="{{{uiRootPath}}}/js/site.js" data-ui-root-path="{{{uiRootPath}}}"></script>
        <script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
        <script async src="{{{uiRootPath}}}/js/vendor/tabs.js"></script>
        {{#if env.SITE_SEARCH_PROVIDER}}
        {{> search-scripts}}
        {{/if}}
    - path: partials/head-styles.hbs
      contents: |
        <link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
        <link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/tabs.css">
