<configuration>
    <!--Disable Logback default init output-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <conversionRule conversionWord="ec" converterClass="org.dockbox.hartshorn.logging.logback.LogbackErrorConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!--Custom encoder to support process_id-->
        <encoder class="org.dockbox.hartshorn.logging.logback.LogbackEncoder">
            <pattern>%d{HH:mm:ss.SSS} %white([ %-15.15t]) @ %green(%process_id) -> %cyan(%-38.38logger{36}) %magenta(%-5level) - %ec(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
