name: Build all

on: pull_request

jobs:
  buildSource:
    name: Build all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up source JDK
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: "Build (source JDK)"
        run: mvn clean install -DskipTests -P ci,all