name: Checkstyle

on: pull_request

jobs:
  depCheck:
    name: Checkstyle
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: Check code style
        run: mvn clean install -DskipTests -P ci,all -Dcheckstyle.skip=false
