name: License header check

on: [pull_request, workflow_dispatch]

jobs:
  depCheck:
    name: License header check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # We need the full history to check the year on license headers
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: Check license headers
        run: mvn license:check -P ci
